h1 {
   font-family: Georgia, sans-serif;
   font-size: 23px;
   font-color: #404040;
}

p {
   font-family: Georgia, sans-serif;
   font-size: 15px;
   font-color: #4a4a4a;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.site-main {
   position: absolute;
   top: 75%;
   bottom: 48%;
   right: 85%;
   left: 15%;
   background-color: #f5f5e8;
   border-style: groove;
   border-color: #c3202f;
   border-width: 4px;
   width: 80%;
   height: 20%;
}

.site-text {
   font-style: oblique;
   text-align: center;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
